@charset "utf-8";
/* CSS Document */
.video {
	margin: 20px;
	padding: 20px;	
}

.product {
	background-color: #666;
	margin: 10px;
	padding: 10px;
	font-family: "Century Gothic";
	font-size: 14px;
	color: #F69;
	width: 200px;
	float: left;
}

.product img {
	height: 100px;
	width: 100px;
	text-align: center;
	float: left;
	margin-right: 10px;
}
