@charset "utf-8";
/* CSS Document */
.video {
	margin: 20px;
	padding: 20px;
	float: left;
}

.product {
	background-color: #666;
	margin: 10px;
	margin-right:180px;
	padding: 10px;
	font-family: "Century Gothic";
	font-size: 14px;
	color: #F69;
	width: auto;
	height:auto;
	float:right
}

h1,h2 {
	text-align: center;
}

.desc {
	float : right;
	width : 300px;
}
